.naviBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    box-shadow: 1px 1px 3px rgb(214, 214, 214);
    z-index: 1;
    background-color: rgb(255, 255, 255);
    height: 55px;
}
.headerLogo{
    height: 45px;
}



.ytIcons{
    height: 25px;
    /* width: 60px; */
}

.naviBar>div{
    align-items: center;
}


#searchIconResponsive{
    display: none;
}

#ytMic{
    height: 35px;
    background-color: rgb(245, 245, 245) ;
    border-radius: 30px;
    padding: 7px;
    margin-left: 10px;
}

#ytMic:hover{
    background-color: rgb(225, 225, 225) ;
 
}
.navBarMiddleSection{
    display: flex;
}
.navBarRightSection{
    display:flex ;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 60px;
}
.navBarRightSection img{
    margin-right: 30px;
    max-height: 30px;
}
.navBarLeftSection{
flex-wrap: nowrap;
}
.navBarLeftSection>.ytIcons{
    height: 25px;
    margin-left: 20px;
}
.tagsHeader{
    padding-top: 70px;
    padding-left: 90px;
    padding-bottom: 10px;
    display: flex;
    position: fixed;
    width: 100%;
    gap: 20px;
    overflow: scroll;
    box-shadow: 1px 1px 3px rgb(214, 214, 214);
    background-color: rgb(255, 255, 255);
}
.tagsHeader::-webkit-scrollbar{
    display: none;
}
.tagsHeader>div{

   min-width: max-content;
   background-color: rgb(240, 240, 240);
   border-radius: 25px;
   padding: 4px 10px 4px 10px;
   font-size: 14px;
   color: rgb(0, 0, 0);
   border: 1px solid rgb(217, 217, 217);
}


/* //over ridings //// */
       

.searchBox{
    flex-wrap: nowrap;
    border: 1px solid;
    border-radius: 4px;
    border-color: rgb(196, 196, 196);
    width: max-content;
    align-self: center;
}
.searchBoxInput{
    border: none;
    width: 35vw !important;
    
}
.btn{
   
    border: none;
    border-left: 1px solid rgb(196, 196, 196);
    align-items: center;
    padding-top:0px !important;
    padding-bottom: 0px;
}

.btn:hover{
    border: none;
    border-left: 1px solid rgb(196, 196, 196);
    background-color: rgb(239, 239, 239);
}
.backIconResponsive{
    display: none;
   
    position: absolute;
    left: 15px;
}

/* ////MEDIA QUERIES//// */

@media(max-width: 768px){
    .navBarMiddleSection{
        display: none;
        
    }
    #searchIconResponsive{
        display: flex;
    }
    .searchBoxInput{
        width: 50vw !important;
    }
   
   
}

@media(min-width:768px){
    .naviBar{
        justify-content: space-between !important;
    }


}